{% extends 'base.html' %}

{% load static %}

{% block content %}


<div class="center margintop">
  <h2 class="header">Rediger dag</h2>
  <h3 class="header">{{ today_date|date:'d/m/y' }}</h3>  

  <div class="tablediv">
    <table class="fixed">
      <tr>
        <th>Start</th>
        <th>Stop</th>
        <th>Varighed</th>
        <th></th>
      </tr>
      {% for data in day_data %}
      <tr>
        <td>
          <a href="{% url 'edit_entry' data.ids.0 %}?next={{ request.path|urlencode }}">{{ data.start|date:'H:i' }}</a>
        </td>
        <td>
          <a href="{% url 'edit_entry' data.ids.1 %}?next={{ request.path|urlencode }}">{{ data.end|date:'H:i' }}</a>
        </td>
        <td>
          {{ data.dur }}
        </td>
        <td>
          <a href="{% url 'delete' data.ids %}">slet</a>
        </td>
      </tr>
    {% endfor %}
    </table>
    <div class="center"><a href="{% url 'edit_all_days' %}">rediger alle</a></div>
    <br>
  </div>
  
  <div class="center">
    <a href="{% url 'index' %}" class="sml-button">Tilbage</a>
    </div>
  </div>

</div>

{% endblock %}