{% extends 'base.html' %}

{% load static %}

{% block content %}


<div class="center margintop">
  <form method="POST" action=".">
    {% csrf_token %}
    <div class="btn-group">
      <a href="{% url 'take_timestamp' %}" class="button">{% if latest.state == True %} STOP {% else %} START {% endif %} </a>
    </div>
  </form>
  <div><a href="{% url 'manual_timestamp' %}">manuel</a></div>
  
  <br>

  <h4 class="header">Uge {{ week_number }}</h4>
  <h3 class="header">{{ today_date|date:'d/m/y' }}</h3>  

  <div class="tablediv">
    <table class="fixed">
      <tr>
        <th>Start</th>
        <th>Stop</th>
        <th>Varighed</th>
      </tr>
      {% for data in day_data %}
      <tr>
        <td>
          {{ data.start|date:'H:i' }}
        </td>
        <td>
          {{ data.end|date:'H:i' }}
        </td>
        <td>
          {{ data.dur }}
        </td>
      </tr>
    {% endfor %}
    </table>
    <br>
  </div>
  <h3 class="header">Dagstotal {{ day_total }}</h3>
  <h3 class="header"><a href="{% url 'show_week' %}">Ugetotal {{ week_total }}</a></h3>
</div>

{% endblock %}