{% extends 'base.html' %}

{% load static %}

{% block content %}


<div class="center margintop">
  <form method="POST" action=".">
    {% csrf_token %}
    <div class="btn-group">
      <a href="{% url 'take_timestamp' %}" class="button">{% if latest.state == True %} STOP <p class="sub-text">{{ dur }}</p> {% else %} START {% endif %} </a>
    </div>
  </form>
  <div><a href="{% url 'manual_timestamp' %}">manuel</a></div>

  <br>

  <h4 class="header">Uge {{ week_number }}</h4>
  <h3 class="header">{{ today_date|date:'d/m/y' }}</h3>

  <div class="tablediv">
    <table class="fixed">
      <tr>
        <th>Start</th>
        <th>Stop</th>
        <th>Varighed</th>
      </tr>
      {% for data in day_data %}
      <tr>
        <td>
          {{ data.start|date:'H:i' }}
        </td>
        <td>
          {{ data.end|date:'H:i' }}
        </td>
        <td>
          {{ data.dur }}
        </td>
      </tr>
    {% endfor %}
    </table>
    <div class="center"><a href="{% url 'edit_day' %}">rediger</a></div>
    <br>
  </div>
  <h3 class="header">Dagstotal {{ day_total }}</h3>
  <h3 class="header"><a href="{% url 'show_week' week_number %}">Ugetotal {{ week_total }}</a></h3>
  <p class="header"><a href="{% url 'show_all_weeks' %}">Månedstotal {{ month_total }}</a></p>

  <!-- <a href="{% url 'show_all_weeks' %}" class="">
    <div class="center">
      <p class="sub-text">
        <span {% if week_diff.0 == "-" %} style="color: red;" {% else %} style="color: green;" {% endif %}> {{ week_diff }} </span> /
        <span {% if acc_margin.0 == "-" %} style="color: red;" {% else %} style="color: green;" {% endif %}>{{ acc_margin }}</span>
      </p>
    </div>
  </a> -->

</div>

{% endblock %}