{% extends 'base.html' %}

{% load static %}

{% block content %}


    <a href="{% url 'show_all_weeks' %}">
      <h2 class="header">Overblik</h2>
    </a>
    <h3 class="header">Uger</h3>
    {% for week in all_week_totals %}
    <p style="margin: 0px;">Uge {{ week.week_number }} samlet arbejdstid: {{ week.week_total }}</p>
    {% endfor %}

    <br>

    <h3 class="header">Alle dage</h3>
    {% for week in days_data %}
        {% for day in week %}
            <p style="margin: 0px;">{{ day.day_data.0.day_name }} {{ day.day_data.0.start|date:'d/m/y' }} dagstotal: {{ day.day_data.0.dur }}</p>
        {% endfor %}
    <br>
    {% endfor %}

{% endblock %}